@model WebMVC.Models.EventItem




<form asp-controller="Cart" asp-action="AddToCart">
    <img class="img-thumbnail" src="@Model.MainEventImageUrl" />
    <input class="button" type="submit" value=" Register" />
    <div class="h3">
        <span>@Model.Name</span>
    </div>
    <div class="h4">
        <span>@Model.Price.ToString("N2")</span>
    </div>
    <input type="hidden" asp-for="@Model.EventType" name="type" />
    <input type="hidden" asp-for="@Model.EventTypeId" name="typeId" />
    <input type="hidden" asp-for="@Model.EventCategory" name="category" />
    <input type="hidden" asp-for="@Model.EventCategoryId" name="categoryId" />
    <input type="hidden" asp-for="@Model.EventMetroCity" name="metrocity" />
    <input type="hidden" asp-for="@Model.EventMetroCityId" name="metrocityId" />
    <input type="hidden" asp-for="@Model.EventOrganizer" name="organizer" />
    <input type="hidden" asp-for="@Model.EventOrganizerId" name="organizerId" />
    <input type="hidden" asp-for="@Model.Description" name="description" />
    <input type="hidden" asp-for="@Model.Id" name="id" />
    <input type="hidden" asp-for="@Model.Name" name="name" />
    <input type="hidden" asp-for="@Model.MainEventImageUrl" name="pictureUrl" />
    <input type="hidden" asp-for="@Model.Price" name="price" />
    <input type="hidden" asp-for="@Model.EventDateTime" name="eventdatetime" />
    <input type="hidden" asp-for="@Model.RefundPolicy" name="refundpolicy" />
    <input type="hidden" asp-for="@Model.Tag1" name="tag1" />
</form>